<!-- <div class=""> -->
<div class="courage">
<div class="show-info">
  <p>Stars in "{{show}}"</p>
  <p>Original Run: {{run}}</p>
  <p>Episode Count: {{episodes}}</p>
  <p>Created by: {{creator}}</p>
  <p>Voiced by: {{voiceActor}}</p>
</div>

<div class="dog-info">
  <p>Breed: {{breed}}</p>
  <p>Hieght: {{hieght}}</p>
  <p>Weight: {{weight}}</p>
  <p>Skills: </p>
  <ul>
    <li>Growing back teeth</li>
    <li>Pulling props out of nowhere</li>
    <li>{{hi}}</li>
  </ul>
</div>
</div>
<!-- </div> -->
